<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="background-color: #e3f2fd"
>
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
        src="../assets/logo.png"
        height="70"
        class="d-inline-block align-text-top"
      />
    </a>
  </div>
</nav>
